body {
  background-color: aliceblue;
  text-align: center;
}

div {
  text-align: center;
}

button {
  border-radius: 2em;
  border-style: outset;
}

.italics {
  font-style: italic;
}
.sans-serif {
  font-family: sans-serif;
}

.cyoag-link {
  color: #0077AA;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}
.cyoag-div-link {
  color: #0077AA;
  text-decoration: none;
}
.cyoag-hidden {
  display: none;
}
.cyoag-note {
  color: #BBBBBB;
  font-family: sans-serif;
  font-size: 0.8em;
}
.cyoag-note-green {
  color: darkgreen;
  font-family: sans-serif;
  font-size: 0.8em;
}
.cyoag-note-red {
  color: darkred;
  font-family: sans-serif;
  font-size: 0.8em;
}

.cyoag-inline-block {
  display: inline-block;
}

#mount-main {
  text-align: center;
  width: 100%;
}

#cyoag-header-container {
  margin-bottom: 1.5em;
}

#cyoag-message-banner {
  margin-bottom: 2em;
}
#cyoag-message-banner a {
  border-style: solid;
  border-width: thin;
  border-radius: 2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
#cyoag-message-banner p {
  border-radius: 2em;
  border-style: solid;
  border-width: medium;
  padding: 0.5em;
}
#cyoag-message-banner .cyoag-regular-message a {
  border-color: darkgreen;
}
#cyoag-message-banner .cyoag-regular-message {
  background-color: lightgreen;
  color: darkgreen;
  border-color: darkgreen;
}
.cyoag-regular-message #cyoag-message-banner-x {
  color: darkgreen;
}
#cyoag-message-banner .cyoag-warning-message a {
  border-color: darkgoldenrod;
}
#cyoag-message-banner .cyoag-warning-message {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}
.cyoag-warning-message #cyoag-message-banner-x {
  color: darkgoldenrod;
}
#cyoag-message-banner .cyoag-error-message a {
  border-color: darkred;
}
#cyoag-message-banner .cyoag-error-message {
  background-color: lightsalmon;
  color: darkred;
  border-color: darkred;
}
.cyoag-error-message #cyoag-message-banner-x {
  color: darkred;
}
#cyoag-message-banner-x {
  font-weight: bolder;
  font-family: sans-serif;
  text-decoration: none;
  float: right;
  margin-top: -0.1em;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0.1em;
}

#cyoag-modal-message-container {
  vertical-align: middle;
}
#cyoag-modal-message-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99900;
}
#cyoag-message-modal {
  border-style: solid;
  border-width: 5px;
  border-radius: 3em;
  display: inline-block;
  padding-right: 2.5em;
  padding-bottom: 1.5em;
  padding-left: 2.5em;
  position: fixed;
  max-width: 33%;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99909;
}
.cyoag-modal-type-message {
  background-color: lightgreen;
  border-color: darkgreen;
  color: darkgreen;
}
.cyoag-modal-type-warning {
  background-color: lightgoldenrodyellow;
  border-color: darkgoldenrod;
  color: darkgoldenrod;
}
.cyoag-modal-type-error {
  background-color: lightsalmon;
  border-color: darkred;
  color: darkred;
}
.cyoag-modal-message-button {
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-radius: 2em;
  display: inline-block;
  padding-top: 0.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  font-weight: bold;
}
.cyoag-modal-type-message .cyoag-modal-message-button {
  border-color: darkgreen;
  color: lightgreen;
}
.cyoag-modal-type-warning .cyoag-modal-message-button {
  border-color: darkgoldenrod;
  color: lightgoldenrodyellow;
}
.cyoag-modal-type-error .cyoag-modal-message-button {
  border-color: darkred;
  color: lightsalmon;
}

#cyoag-main-column {
  margin-right: 260px;
}
#cyoag-margin-column {
  float: right;
  width: 250px;
}

#cyoag-margin-login-container {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: blue;
  padding: 1em;
  display: inline-block;
  width: 80%;
}
#cyoag-margin-login-container h4 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
}
#cyoag-margin-login-container p {
  margin-top: 0.5px;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
}

#cyoag-name-input {
  margin-right: 0.5em;
  width: 8em;
}

#cyoag-logout-button {
  margin-top: 1em;
}

#cyoag-node-container {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

.cyoag-trailing-snippet {
  font-style: italic;
  display: inline-block;
  max-width: 62%;
}
#cyoag-last-path {
  font-weight: bolder;
}
#cyoag-node-snippet {
  font-size: 1.2em;
}
#cyoag-tooltip-regress {
  color: white;
  font-weight: bold;
  display: none;
  background-color: darkred;
  border-style: solid;
  border-width: thick;
  border-radius: 2em;
  border-color: #444444;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em;
  position: absolute;
  z-index: 1000;
}

.cyoag-trailing-snippet-link:hover #cyoag-tooltip-regress {
  display: block;
}

#cyoag-votification-container {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: blue;
  padding: 1em;
  display: inline-block;
  width: 50%;
}
#cyoag-votification-container h4 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: .5em;
  margin-left: auto;
}

#cyoag-path-list {
  margin-top: 1em;
  margin-right: auto;
  margin-top: 1em;
  margin-left: auto;
  width: 40%;
}
.cyoag-path-item {
  margin: 2px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 1em;
  border-color: blue;
  padding: 0.5em;
}
.cyoag-tooltip-progress {
  color: white;
  font-weight: bold;
  display: none;
  background-color: darkblue;
  border-style: solid;
  border-width: thick;
  border-radius: 2em;
  border-color: #444444;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em;
  position: absolute;
  z-index: 1000;
}

.cyoag-path-item-link:hover .cyoag-tooltip-progress {
  display: block;
}

#cyoag-input-container {
  background-color: white;
  border-style: solid;
  border-width: medium;
  border-radius: 2em;
  border-color: blue;
  margin: 1em auto;
  width: 75%;
}
#cyoag-input-container textarea {
  border-radius: 1em;
  padding-top: 0.1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#cyoag-input-container textarea:focus {
  outline: none !important;
}

#cyoag-input-body-container {
  margin-top: 0.5em;
}

#cyoag-input-path {
  font-size: 1em;
  height: 2em;
  resize: none;
  width: 85%;
}
#cyoag-input-body {
  font-size: 1em;
  height: 10em;
  resize: vertical;
  width: 85%;
}

#cyoag-path-char-hint {
  margin: -0.2em auto 0 auto;
  text-align: left;
  width: 85%;
}
#cyoag-input-body-hints-container {
  margin-top: -0.2em;
}
#cyoag-body-char-hint {
  display: inline-block;
  margin: -0.5em auto 0 auto;
  text-align: left;
  width: 42%;
}
.cyoag-resize-input-hint {
  display: inline-block;
  margin: -0.5em auto 0 auto;
  text-align: right;
  width: 42%;
}

#cyoag-input-submit {
  margin-left: 1em;
  margin-bottom: 1em;
}

#cyoag-footer-container {
  clear: both;
}

#cyoag-upvote-button, #cyoag-downvote-button {
  padding: 0 10px 0;
  height: 16px;
  width: 16px;
}
