body {
  background-color: aliceblue;
  text-align: center;
}

div {
  text-align: center;
}

.italics {
  font-style: italic;
}

.cyoag-link {
  color: #0077AA;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

#mount-main {
  text-align: center;
  width: 100%;
}

#cyoag-header-container {
  margin-bottom: 1.5em;
}

#cyoag-message-banner {
  margin-bottom: 2em;
}
#cyoag-message-banner p {
  border-radius: 2em;
  border-style: solid;
  border-width: medium;
  padding-top: .5em;
  padding-bottom: .5em;
}
#cyoag-message-banner .cyoag-regular-message {
  background-color: lightgreen;
  color: darkgreen;
  border-color: darkgreen;
}
#cyoag-message-banner .cyoag-warning-message {
  background-color: lightgoldenrodyellow;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}
#cyoag-message-banner .cyoag-error-message {
  background-color: lightsalmon;
  color: darkred;
  border-color: darkred;
}

#cyoag-main-column {
  margin-right: 260px;
}
#cyoag-margin-column {
  float: right;
  width: 250px;
}

#cyoag-margin-login-container {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: blue;
  padding: 1em;
  display: inline-block;
  width: 80%;
}
#cyoag-margin-login-container h4 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
}
#cyoag-margin-login-container p {
  margin-top: 0.5px;
  margin-right: auto;
  margin-bottom: 0.5em;
  margin-left: auto;
}

#cyoag-node-container {
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

#cyoag-trailing-snippet {
  color: black;
  font-style: italic;
  margin: 2px;
  background-color: aliceblue;
  border-style: solid;
  border-width: thick;
  border-radius: 2em;
  border-color: white;
  padding: 0.5em;
}
#cyoag-last-path {
  font-weight: bolder;
}
#cyoag-node-snippet {
  font-size: 1.2em;
}
#cyoag-tooltip-regress {
  color: white;
  font-weight: bold;
  display: none;
  background-color: darkred;
  border-style: solid;
  border-width: thick;
  border-radius: 2em;
  border-color: #444444;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em;
  position: absolute;
  z-index: 1000;
}

#cyoag-trailing-snippet:hover #cyoag-tooltip-regress {
  display: block;
}

#cyoag-votification-container {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: blue;
  padding: 1em;
  display: inline-block;
  width: 50%;
}
#cyoag-votification-container h4 {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: .5em;
  margin-left: auto;
}

#cyoag-path-list {
  margin-top: 1em;
  margin-right: auto;
  margin-top: 1em;
  margin-left: auto;
  width: 40%;
}
.cyoag-path-item {
  margin: 2px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 1em;
  border-color: blue;
  padding: 0.5em;
}
.cyoag-tooltip-progress {
  color: white;
  font-weight: bold;
  display: none;
  background-color: darkblue;
  border-style: solid;
  border-width: thick;
  border-radius: 2em;
  border-color: #444444;
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding: 0.3em;
  position: absolute;
  z-index: 1000;
}

.cyoag-path-item:hover .cyoag-tooltip-progress {
  display: block;
}

#cyoag-footer-container {
  clear: both;
}

#cyoag-upvote-button, #cyoag-downvote-button {
  padding: 0 10px 0;
  height: 16px;
  width: 16px;
}
