/* Styles for formatting tables specific to functional requirements */

#iterations td {
	text-align: center;
}
#definitions tr > td:nth-child(1) {
	font-style: italic;
}

#toc-internal {
  counter-reset: item -1;
  list-style-type: none;
}
#toc-internal li:before {
  counter-increment: item;
  content: counter(item) ". ";
}