body {
  background: aliceblue;
  font-family: sans-serif;
}

.center {
  text-align: center;
}
.bold {
  font-weight: 800;
}

.no-gaps {
  border: 0;
  margin: 0;
  padding: 0;
}

table {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.even-row td:nth-of-type(odd) {
  background: #ddf;
}
.even-row td:nth-of-type(even) {
  background: #ccf;
}
.odd-row td:nth-of-type(odd) {
  background: #dfd;
}
.odd-row td:nth-of-type(even) {
  background: #cfc;
}

.header {
  font-size: 2.5em;
  color: #0000AA;
}
.subheader {
  font-size: 2em;
  color: #000066;
}
.subsubheader {
  font-size: 1.75em;
  color: #000022;
}

ol {
  counter-reset: section;
  list-style-type: none;
}
ol>li:before {
  counter-increment: section;
  content: counters(section,".") ". ";
}

.title {
  font-size: 4em;
}
.note, a.note:link, a.note:visited, a.note:active {
  font-style: italic;
  color: #888;
  font-size: 0.8em;
}
a.note:hover {
  font-style: italic;
  color: #555;
  font-size: 0.8em;
}

ol #toc {
  counter-reset: item 0;
}
#toc li:before {
  content:counter(item) ". "
}

#toc-internal {
  counter-reset: item -1;
  list-style-type: none;
}
#toc-internal li:before {
  counter-increment: item;
  content: counter(item) ". ";
}
